[Desktop Entry]
Type=Application
Exec=tilda
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_HK]=tilda0
Name=tilda
Comment[en_HK]=terminal
Comment=terminal
